*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


.game-board {
    width: 100%;
    height: 500px;
    border-bottom: 15px solid rgb(35, 160, 35);
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    background: linear-gradient(#87ceeb,#e0f6ff);
}

.tubo{
position: absolute;
bottom: 0;
width: 80px;
right: -80px;
animation: animacao-tubo 1.5s infinite linear;


}

.mario{
    width: 158px;
    position: absolute;
    bottom: 0px;
    
}

.pulo{
    animation: pulo 500ms ease-out;
}

.nuvem{
    position: absolute;
    width: 590px;
    animation: voando 3.6s infinite linear;
}
.nuvem2{
        position: absolute;
        width: 560px;
        animation: voando 3.7s 400ms infinite linear;
}
.nuvem3{
    position: absolute;
    width: 400px;
    animation: voando 3.8s 450ms infinite linear;
}

.nuvem4{
    position: absolute;
    width: 550px;
    animation: voando 3.9s 425ms infinite linear;
}
@keyframes animacao-tubo{
    from{
right: 0;

    }
    to{
right: 100%;


    }


}
@keyframes pulo{

    0%{
         bottom: 0
}

    40%{
        bottom: 178px;
    }

    50%{
        bottom : 180px;
    }

    60%{
        bottom: 178px;
    }

    100%{
        bottom: 0;
}
}
@keyframes voando{
    from{
        right: -600px;
    }

    to{
        right: 100%;
    }
}